{% extends "private/questao/base_questao.html" %}

{% block extrahead %}
<style type="text/css" title="currentStyle">
	@import "{{STATIC_URL}}css/jquery.dataTables.css";
</style>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#example').dataTable({
        "bInfo": false,
                "iDisplayLength": 25,
                "oLanguage": {
                         "sSearch": "Buscar:",
                 "sLengthMenu": "Exibindo _MENU_ registros por página",
                         "oPaginate": {
                        "sPrevious": "Anterior",
                                "sNext": "Próxima",
                                "sFirst": "Primeira",
                                "sLast": "Última",
                }
        }
});
	} );
</script>
{% endblock %}

{% block content-questao %}
<h2>Questões</h2>
<h4>Aqui você pode criar, atualizar e visualizar as questões já cadastradas.</h4> 
<br/>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Tipo</th>
			<th>Criador</th>
			<th>Nivel</th>
			<th>Tags</th>
		</tr>
	</thead>
{% for questao in questoes %}
	<tbody>
	<tr>
		<td><a href="/questao/detail/{{questao.uid}}/{{questao.id}}">{{questao.nome}}</a></td>
		<td>{{questao.modulo.tipo_string}}</td>
		<td>{{ questao.get_criador }}</td>
		<td style="text-align: center">{{questao.nivel_estatico}}</td>
		<td style="text-align: center">{{questao.get_tags_as_string}}</td>
	</tr>
	</tbody>
{% endfor %}
</table>

{% endblock %}
