{% extends "private/submissao/submissoes.html" %}

{% block content-submissao %}
<h2>Lista de Submissões</h2>
	{{ header }}
 {% if disciplinas %}
 	<ul>
 	{% for disciplina in disciplinas %}
 		<li><a href="/submissoes/disciplina_{{disciplina.id}}">{{ disciplina }} </a></li>
 	{% endfor %}
 	</ul>
 {% elif alunos %}
 	<ul>
 	{% for aluno in alunos %}
 		<li><a href="/submissoes/{{disciplina}}/aluno_{{aluno.id}}"> {{aluno}} </a></li>
 	{% endfor %}
 	</ul>
 {% elif questionarios %}
 	<ul>
 		{% for questionario in questionarios %}
 			<li><a href="/submissoes/{{disciplina}}/{% if aluno %}{{aluno}}/{% endif %}questionario_{{questionario.id}}"> {{questionario}} </a> </li>
 		{% endfor %}
 	</ul>
 {% elif submissoes %}
 	<ul>
 	{% for submissao in submissoes %}
 		<li><a href="/submissao/detail/{{submissao.id}}">{{ submissao }} </a></li>
 	{% endfor %}
 	</ul> 
 {% else %}
        Nada a ser listado
 {% endif %}    

{% endblock %}