{% extends "private/submissao/submissoes.html" %}

{% block main-content %}
<div class="row-fluid">

<div class="span12">
		<div class="widget">
			<div class="widget-head">
				<div class="pull-left">Submissão</div>
				<div class="widget-icons pull-right">
					<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="widget-content">
				<div class="padd">
					<h2>Submissão para {{submissao.questionario}}</h2>

					<p>
					<h5>Quando?</h5>
					{{submissao.data_hora}}
					</p>

					<p>
					<h5>Quem?</h5>
					{{ submissao.aluno }}
					</p>
					<br>
					<p>
					<h4>Respostas:</h4><br>
					{% for resposta in submissao.get_respostas %}
					<h6>{{ resposta.questao.enunciado|safe }}</h6>
					<p>Resposta dada:</p>
					<p>{{ resposta|safe }}</p>

					{% if perms.core.professor %} <br>
					<p>Resposta esperada:</p>
					<p><i>{{ resposta.questao.get_resposta|safe }}</i></p>
					{% endif %} 
					<br> 
					{% endfor %}
					</p>
					
					<h6>Nota:</h6>
					{% if submissao.nota %}
						{{ submissao.nota }}
					{% else %}
						<i>Aguardando Avaliação.</i>
					{% endif %}
				</div>
				<div class="clearfix"></div>
				<hr />
			</div>
			<div class="widget-foot">
				{% if perms.core.professor %}
				<form id="aval" name='generic_form' action="/submissoes/pontuar/{{submissao.id}}" enctype="multipart/form-data" method="post"> {% csrf_token %}
					<table>
						<tr>
							<td><span><label>Nota</label></span><input type="number" step="any" min="0", max='10' name='pts'/></td>
						</tr>
						<tr>
						<td><span>Observações</span><textarea form="aval" rows="10" cols="80" name='obs' class="cleditor"></textarea></br></td>
						</tr>
					</table>
					<button type="submit" class="btn btn-primary">Avaliar</b> 
				</form>
				{% endif %}
			</div>
		</div>
	</div>

</div>

{% endblock %}