{% extends "private/cadastros.html" %}

{% block content-box %}
<h2>Lista de Disciplinas</h2>

<table width="100%">
<tr>
    <td align="center">
    {% if object_list %}
        <table class="table">
        {% for object in object_list %}
            {% if forloop.first %} 
                <tr>
                    {% for label, value in object.field_list %}
                        <th>{{label}}</th>
                    {% endfor %}
            	</tr>
            {% endif %}
            <tr>
                {% for label, value in object.field_list %}
                	{% if object.professor.user == user %}
                   	 	<td><a href="/disciplina/detail/{{object.id}}">{{ value }}</a></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% else %}
        <td align="center">Nada a ser listado</td>
    {% endif %}
    {% if paginator %}
    	<tr>
	    	<td colspan=20>
	    		{% if paginator.num_pages and object_list%}
					Exibindo Página: {{ page_obj.number }} / {{ paginator.num_pages }}<br>
				{% endif%}
				
				{% if page_obj.has_previous %}
					<a href="/{{link}}/page{{ page_obj.previous_page_number }}">Anterior</a>
				{% endif %}
				
				{% if paginator.num_pages and object_list %}
					{% for integer in page_range %}
							<a href="/{{link}}/page{{ integer }}">{{ integer }}</a>
					{% endfor %}
				{% endif%}
				
				{% if page_obj.has_next %}
					<a href="/{{link}}/page{{ page_obj.next_page_number }}">Próxima</a>
				{% endif %}
	    	</td>
	    </tr>
     	{% endif %}
        </table>
    </td>
</tr>
</table>
    

{% endblock %}