{% extends "private/questionario/base_questionario.html" %}

{% block content-questionario %}
<h2>Aplicar Questionario {{ questionario }}</h2>

<form name='generic_form' action="" enctype="multipart/form-data" method="post"> {% csrf_token %}
	{% for hidden in form.hidden_fields %} 	{{ hidden }} {% endfor %}

	{% for field in form.visible_fields %}
		    {{ field.label_tag }}{% if field.is_required %}*{% endif %} <br/>
			{{ field }} <br/>
			{% if field.errors %}{{ field.errors }}{% endif %}
			{{ field.help_text }}<br/>
    {% endfor %}
    
    <p>
        {{ formset.management_form }}
        {{formset.non_form_errors}}
        <input type="submit" value="Aplicar" />
    </p>
</form>

{% endblock %}

