{% extends "private/questionario/base_questionario.html" %}

{% block extrahead %}
	<link href="{{STATIC_URL}}css/datetimepicker/jquery.ui.datetimepicker.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.ui.datetimepicker.min.js"></script>
	<script type="text/javascript">
		$(function() {
			 $("input[id^='id_hora']").datetimepicker({ dateFormat: 'yyyy-mm-dd HH:MM', showAnim:'' });
		 });
	</script>
{% endblock %}

{% block content-questionario %}
<h2>Criar Questionário</h2>

<form name='generic_form' action="" enctype="multipart/form-data" method="post"> {% csrf_token %}
	{% for hidden in form.hidden_fields %} 	{{ hidden }} {% endfor %}

	{% for field in form.visible_fields %}
		    {{ field.label_tag }}{% if field.is_required %}*{% endif %} <br/>
			{{ field }}<br/>
			{% if field.errors %}{{ field.errors }}{% endif %}
			{{ field.help_text }}<br/>
    {% endfor %}
    
    <p>
        {{ formset.management_form }}
        {{formset.non_form_errors}}
        <input type="submit" value="Salvar" />
    </p>
</form>

{% endblock %}

