{% extends "private/questionarios.html" %}

{% block main-content %}
<div class="row-fluid">

<div class="span12">
	<div class="widget">
		<div class="widget-head">
			<div class="pull-left"> Questionários </div>
			<div class="widget-icons pull-right">
				<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
			</div>
			<div class="clearfix"></div>
			</div>
			<div class="widget-content">
				<div class="padd">
					<form name='generic_form' action="" enctype="multipart/form-data" method="post"> {% csrf_token %}
					{% for hidden in form.hidden_fields %} 	{{ hidden }} {% endfor %}
					
					{% for field in form.visible_fields %}
						    {{ field.label_tag }}<br>
						    {% if field.is_required %}*{% endif %}
							{{ field }}
							{{ field.help_text }}<br/>
							{% if field.errors %}{{ field.errors }}{% endif %}
				    {% endfor %}
				    
				    <p>
				        {{ formset.management_form }}
				        {{formset.non_form_errors}}
				        <input type="submit" value="Salvar" />
				    </p>
				</form>
					
				</div>
				<div class="clearfix"></div>
				<hr />
				</div>
			<div class="widget-foot">
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block extra-js %}

<script type="text/javascript">
	
	$(function() {
		$("#id_nome").addClass("form-control")
		$input = $("input[id^='id_hora']");
		$input.addClass("form-control dtpicker");
		$div = $("<div class='input-append'>");
		$input.wrap($div);
		$div = $(".input-append");
		$div.append('<span class="add-on"> <i data-time-icon="icon-time" data-date-icon="icon-calendar" class="btn btn-info btn-lg icon-calendar"> </i></span>');
		$div.datetimepicker({ 
	    	language: 'pt-BR',
	        format: 'dd/MM/yyyy hh:mm:ss'
	    });
	});
	
</script>
{% endblock %}
