{% extends "private/questionario/base_questionario.html" %}

{% block extrahead %}
<style type="text/css" title="currentStyle">
	@import "{{STATIC_URL}}css/jquery.dataTables.css";
</style>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#example').dataTable({
        "bInfo": false,
                "iDisplayLength": 25,
                "oLanguage": {
                         "sSearch": "Buscar:",
                 "sLengthMenu": "Exibindo _MENU_ registros por página",
                         "oPaginate": {
                        "sPrevious": "Anterior",
                                "sNext": "Próxima",
                                "sFirst": "Primeira",
                                "sLast": "Última",
                }
        }
});
	} );
</script>
{% endblock %}

{% block content-questionario %}

<h2>Questionários</h2>
{% if perms.core.professor %}
	<h4>Aqui você pode criar, atualizar e visualizar os questionários já cadastrados.</h4>
{% endif %} 
<br/>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Criador</th>
			<th>Tags</th>
		</tr>
	</thead>
{% for questionario in questionarios %}
	<tbody>
	<tr>
		<td><a href="/questionario/detail/{{questionario.id}}">{{questionario.nome}}</a></td>
		<td>{{questionario.get_criador}}</td>
		<td>{{questionario.get_tags_as_string|default:"Nenhuma tag associada"}}</td>
	</tr>
	</tbody>
{% endfor %}
</table>

{% endblock %}