{% extends "private/questionarios.html" %}
	
{% block main-content %}

<div class="row-fluid">

<div class="span12">
		<div class="widget">
			<div class="widget-head">
				<div class="pull-left">{{ questionario }}</div>
				<div class="widget-icons pull-right">
					<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="widget-content">
				<div class="padd">
					<p>Inicio: {{ questionario.hora_inicio }}</p>
					<p>Fim: {{ questionario.hora_fim }}</p>
					<br>
					<p>
					<h4>Questões</h4>
					<ul>
						{% for questao in questionario.get_questoes %}
						<li><a href='/questao/detail/{{questao.uid}}/{{questao.id}}'>{{questao.nome}} ({{questao.get_tipo}}) </a></li> {% endfor %}
					</ul>
					</p>

					<h4>Tags</h4>
					<p>
						{% for tag in questionario.get_tags %} <span class="label label-info"> {{ tag }} </span> {% endfor %}
					</p>

				</div>
				<div class="clearfix"></div>
				<hr />
			</div>
			<div class="widget-foot">
			{% if perms.core.professor %} 
				<a href='/questionario/aplicar/{{questionario.id}}' class='btn btn-primary'>Aplicar Questionário</a> 
				<a href="/questionario/delete/{{questionario.id}}" class="btn btn-danger"> Excluir Questionário </a> {% else %} 
				{% if hora > questionario.hora_fim %}
				<h3>
					<font color="red">Data limite de submissão atingida</font>
				</h3>
				{% else %} 
					<a href='/questionario/submeter/{{questionario.id}}' class='btn'>Submeter Questionário</a> 
				{% endif %} 
			{% endif %}
			</div>
		</div>
	</div>

{% endblock %}
