{% extends "private/base.html" %}


{% block sidebar %}

<li><a href="/"><i class="icon-home"></i>Home</a>
<li><a href="/questionarios"><i class="icon-list-alt"></i>Questionarios 
<li><a href="/submissoes"><i class="icon-reply"></i>Submissões</a>
{% if perms.core.professor %}
<li><a href="/questoes"><i class="icon-question-sign"></i>Questões</a>
<li><a class="has_sub open"><i class=icon-group></i>Cadastros
<span class="pull-right"> <i class="icon-chevron-right"></i></span></a>
	<ul>
		<li><a href="/aluno">Alunos</a></li>
		<li><a href="/professor">Professores</a></li>
		<li><a href="/grupo">Grupos</a></li>
	</ul></li>
{% endif %}
{% endblock %} 
