{% extends "private/base.html" %}


{% block sidebar %}

<li><a href="/"><i class="icon-home"></i>Home</a>
<li><a class="has_sub"><i class="icon-list-alt"></i>Questionarios 
<span class="pull-right"> <i class="icon-chevron-right"></i></span></a>
	<ul>
		<li><a href="widgets1.html">Widgets #1</a></li>
		<li><a href="widgets2.html">Widgets #2</a></li>
		<li><a href="widgets3.html">Widgets #3</a></li>
	</ul></li>
<li><a href="/"><i class="icon-reply"></i>Submissões</a>
<li><a href="/"><i class="icon-question-sign"></i>Questões</a>
<li><a class="has_sub open"><i class=icon-group></i>Cadastros
<span class="pull-right"> <i class="icon-chevron-right"></i></span></a>
	<ul>
		<li><a href="/aluno">Alunos</a></li>
		<li><a href="/professor">Professores</a></li>
		<li><a href="/grupo">Grupos</a></li>
	</ul></li>

{% endblock %} 


{% block content %}

<div id="templatemo_content_wrapper">

	<div id="templatemo_sidebar">
	
		<div class="sidebar_box">
			
            <h2>Alunos</h2>
            <p><a href="/aluno/create">Cadastrar Aluno</a></p>
            <p><a href="/aluno/list">Listar Alunos</a></p>
            
            <div class="cleaner"></div>
        
        </div><div class="sidebar_box_bottom"></div>
        
        <div class="sidebar_box">
			
            <h2>Disciplinas</h2>
            <p><a href="/aluno/create_m">Vincular Alunos </a></p>
            
            <p><a href="/disciplina/create">Cadastrar Disciplina</a></p>
            
            <p><a href="/disciplina/list">Listar Disciplinas</a></p>
            
            <div class="cleaner"></div>
        
        </div><div class="sidebar_box_bottom"></div>
	
	
		<div class="sidebar_box">
			
            <h2>Professores</h2>
            <p><a href="/professor/create">Cadastrar Professor</a></p>
            
            <p><a href="/professor/list">Listar Professores</a></p>
            
            <div class="cleaner"></div>
        
        </div>
        
        <div class="sidebar_box_bottom"></div>
        
        
    
    	<div class="sidebar_box">
        	
            <h2>Últimas</h2>
            
            <div class="news_box">
                <a href="#">Fusce sit amet nunc lectus, at pretium augue. Pellentesque tortor felis.</a>
                <p class="post_info">Posted by <a href="#">Admin</a> on <span>April 30, 2048</span></p>
            </div>
            
            <div class="news_box">
                <a href="#">Integer imperdiet, justo ut venenatis vehicula, magna mi placerat felis.</a>
                <p class="post_info">Posted by <a href="#">Admin</a> on <span>April 22, 2048</span></p>
            </div>
            
            <div class="news_box">
                <a href="#">Sed justo dolor, convallis at, vestibulum vitae, elementum eu, pede.</a>
                <p class="post_info">Posted by <a href="#">Admin</a> on <span>April 14, 2048</span></p>
            </div>
        
        </div><div class="sidebar_box_bottom"></div>
        
        
    
    </div> <!-- end of sidebar -->

	<div id="templatemo_content">
    	<div class="content_box">
	    	{% block content-box %}
	    		<h2> Cadastro de Alunos, Professores e Disciplinas</h2>
				<p> Aqui podemos cadastrar e listar alunos, professores e disciplinas.</p>
			{% endblock %}
		 </div><div class="content_box_bottom"></div>
    </div> <!-- end of content -->

    <div class="cleaner"></div>

</div>

{% endblock %}