{% extends "public/index.html" %} {% block menu %}
<li><a href="#">Contact</a></li>
{% endblock %} {% block content %}

<!-- Page content starts -->

<div class="content">
	<div class="container">
		<div class="row">
			<div class="span6">
				<!-- Some content -->
				<h3 class="title">
					Register Today <span class="color">!!!</span>
				</h3>
				<h4>Morbi tincidunt posuere turpis eu laoreet</h4>
				<p>Nullam in est urna. In vitae adipiscing enim. Curabitur
					rhoncus condimentum lorem, non convallis dolor faucibus eget. In
					vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non
					convallis dolor faucibus eget. In ut nulla est.</p>
				<h5>Maecenas hendrerit neque id</h5>
				<ul>
					<li>Etiam adipiscing posuere justo, nec iaculis justo dictum
						non</li>
					<li>Cras tincidunt mi non arcu hendrerit eleifend</li>
					<li>Aenean ullamcorper justo tincidunt justo aliquet et
						lobortis diam faucibus</li>
					<li>Maecenas hendrerit neque id ante dictum mattis</li>
					<li>Vivamus non neque lacus, et cursus tortor</li>
				</ul>

				<p>Nullam in est urna. In vitae adipiscing enim. In ut nulla
					est. Nullam in est urna. In vitae adipiscing enim. Curabitur
					rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut
					nulla est.</p>

			</div>

			<!-- Login form -->
			<div class="span6">
				<div class="formy well">
					<!-- Title -->
					<h4 class="title">Login to Your Account</h4>
					<div class="form">

						<form class="form-horizontal"  method="post" action="/accounts/login/"> {% csrf_token %}
							<input type="hidden" name="next" value="/home"/> 
							<!-- Username -->
							<div class="control-group">
								<label class="control-label" for="username">Login</label>
								<div class="controls">
									<input type="text" class="input-large" id="username" name="username">
								</div>
								<div class="controls">
									{% for error in form.username.errors%}{{error}}{% endfor %}
								</div>
							</div>
							
							<!-- Password -->
							<div class="control-group">
								<label class="control-label" for="password">Senha</label>
								<div class="controls">
									<input type="password" class="input-large" id="password" name="password">
								</div>
								<div class="controls">
									{% for error in form.password.errors%}{{error}}{% endfor %}
								</div>
							</div>

							<!-- Checkbox -->
							<div class="control-group">
								<div class="controls">
									<label class="checkbox inline"> <input type="checkbox"
										id="inlineCheckbox1" value="agree"> Remember Password
									</label>
								</div>
							</div>

							<!-- Buttons -->
							<div class="form-actions">
								<!-- Buttons -->
								<button type="submit" class="btn">Login</button>
								<button type="reset" class="btn">Reset</button>
							</div>
						</form>
						<hr />
						<!-- Social media button s
                                      <h5>Login using</h5>
                                      <a href="#"><img src="img/social/facebook.png" alt="" /></a><br />
                                      <a href="#"><img src="img/social/twitter.png" alt="" /></a><br />
                                      <a href="#"><img src="img/social/linkedin.png" alt="" /></a><br />
                                      <hr />
                                       -->
						<h5>New Account</h5>
						<!-- Register link -->
						Don't have an Account? <a href="register.html">Register</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

{% endblock %}
