{% extends "public/index.html" %} {% block menu %}
<li><a href="#">Contact</a></li>
{% endblock %} {% block content %}

<!-- Page content starts -->

<div class="content">
	<div class="container">
		<div class="row">
			<div class="span6">
				<!-- Some content -->
				
				<h3 class="title">
					<span class="color">Não tem Conta?</span>
				</h3>
				
				<p>Entre em contato com o Professor Mário Hozano e a equipe do LAMP e obtenha as 
					informações para acessar o Quest<span class="color">?</span>
				</p>
				
				<hr />
				<h3 class="title">
					<span class="color">Perdeu a Senha?</span>
				</h3>
				
				<p>Envie um e-mail para o suporte e obtenha uma nova senha de acesso.</p>

			</div>

			<!-- Login form -->
			<div class="span6">
				<div class="formy well">
					<!-- Title -->
					<h4 class="title">Login to Your Account</h4>
					<div class="form">

						<form class="form-horizontal"  method="post" action="/accounts/login/"> {% csrf_token %}
							<input type="hidden" name="next" value="/home"/> 
							<!-- Username -->
							<div class="control-group">
								<label class="control-label" for="username">Login</label>
								<div class="controls">
									<input type="text" class="input-large" id="username" name="username">
								</div>
								<div class="controls">
									{% for error in form.username.errors%}{{error}}{% endfor %}
								</div>
							</div>
							
							<!-- Password -->
							<div class="control-group">
								<label class="control-label" for="password">Senha</label>
								<div class="controls">
									<input type="password" class="input-large" id="password" name="password">
								</div>
								<div class="controls">
									{% for error in form.password.errors%}{{error}}{% endfor %}
								</div>
							</div>

							<!-- Checkbox -->
							<div class="control-group">
								<div class="controls">
									<label class="checkbox inline"> <input type="checkbox"
										id="inlineCheckbox1" value="agree"> Remember Password
									</label>
								</div>
							</div>

							<!-- Buttons -->
							<div class="form-actions">
								<!-- Buttons -->
								<button type="submit" class="btn">Login</button>
								<button type="reset" class="btn">Reset</button>
							</div>
						</form>
						<hr />
						<!-- Social media button s
                                      <h5>Login using</h5>
                                      <a href="#"><img src="img/social/facebook.png" alt="" /></a><br />
                                      <a href="#"><img src="img/social/twitter.png" alt="" /></a><br />
                                      <a href="#"><img src="img/social/linkedin.png" alt="" /></a><br />
                                      <hr />
                                       
						<h5>New Account</h5>
						<!-- Register link
						Don't have an Account? <a href="register.html">Register</a> -->
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

{% endblock %}
