{% extends "private/cadastros.html" %}

{% block header-button %}  {% endblock %} 
{% block header-data %} {% endblock %} 
{% block content-title %} 
 Professor: {{ professor }}

 {% endblock %}
 
 {% block content-bread %}

<a href="/"><i class="icon-home"></i> Home</a>
<!-- Divider -->
<span class="divider">/</span>
<a href="#" class="bread-current">Professores</a>

{% endblock %} 

{% block main-content %}

<div class="row-fluid">

	<!--  Questões -->
	<div class="span6">
		<div class="widget">
			<div class="widget-head">
				<div class="pull-left">Questões Criadas</div>
				<div class="widget-icons pull-right">
					<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="widget-content">
			{% if professor.get_questoes_criadas %} 
				<table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Nome</th>
                          <th>Tipo</th>
                          <th>Nivel</th>
                          <th>Tag</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for questao in professor.get_questoes_criadas %} 
                        <tr class="linked" onclick="linkTo('/questao/detail/{{ questao.uid}}/{{ questao.id }}')">
                          <td>{{ questao }}</td>
                          <td>{{ questao.modulo.tipo_string }}</td>
                          <td>{{ questao.nivel_estatico }}</td>
                          <td><span class="label label-info"> {{ questao.get_tags_as_string }} </span></td>
                        </tr>
					{% endfor %} 
					 </tbody>
                </table>
					{% else %} 
					<div class="padd">
						<i>Nenhuma questão criada.</i>
					</div>
					
					<div class="clearfix"></div>
					<hr />
					{% endif %}
				</div>
			<div class="widget-foot">Questões criadas pelo professor {{ professor }}</div>
		</div>
	</div>
	
	<!--  Disciplinas -->
	
	<div class="span6">
		<div class="widget">
			<div class="widget-head">
				<div class="pull-left">Grupos</div>
				<div class="widget-icons pull-right">
					<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
				</div>
				<div class="clearfix"></div>
			</div>
			
			<div class="widget-content">
				<div class="padd">
				{% if professor.get_grupos %}
					{% for grupo in professor.get_grupos %}
						<div>				
							<h5 class=icon-group> {{ grupo.nome }}  </h5>

							<p>{{ grupo.about }}</p>

							<a href="/grupo/detail/{{grupo.id}}"
								class="btn btn-info btn-mini"><i class="icon-file-alt"></i> Ver
								Detalhes</a> <a href="mailto:{{grupo}}"
								class="btn btn-mini"><i class="icon-envelope-alt"></i>Enviar Mensagem</a>
							<div class="clearfix"></div>
						</div>

						<hr />
					{% endfor %}
				{% else %}
						Nenhuma Grupo registrado.
					
				{% endif %}
				</div>
					<div class="clearfix"></div>
					<hr />
			</div>
			<div class="widget-foot">Grupos do Professor {{ professor }}</div>
		</div>
	</div>
	
</div>

{% endblock %}