{% extends "private/cadastros.html" %}

{% block extrahead %}
	{{ form.media }}
	<script type="text/javascript" src="{{ STATIC_URL }}js/tiny_mce/tiny_mce.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/tiny_mce/tinymce_textareas.js"></script>
{% endblock %}

{% block content-box %}
<h2>Cadastrar Professor</h2>

<form name='generic_form' action="" enctype="multipart/form-data" method="post"> {% csrf_token %}
{% for hidden in form.hidden_fields %} 	{{ hidden }} {% endfor %}

	{% for field in form.visible_fields %}
		    {{ field.label_tag }}{% if field.is_required %}*{% endif %} <br/>
			{{ field }} <br/>
			{% if field.errors %}{{ field.errors }}{% endif %}
			{{ field.help_text }}<br/>
    {% endfor %}
    
    <p>
        <input type="submit" value="Cadastrar" />
    </p>
</form>

{% endblock %}

