{% extends "private/home.html" %}

{% block content %}

<div id="templatemo_content_wrapper">

	<div id="templatemo_sidebar">
		
		<div class="sidebar_box">
			
            <h2>Bem vindo(a)</h2>
            	Você está logado como<br/>
            	{{user.get_full_name}}<br/>
            	<a href="/mudar_pwd">Modificar Senha</a> <br/>
				<a href="/logout">Sair</a>   
				        	
            
            <div class="cleaner"></div>
        
        </div><div class="sidebar_box_bottom"></div>
        </div>

<div id="templatemo_content">
    
    	<div class="content_box">
        
        	{% if perms.core.professor %}<h2>Atualizar Professor</h2> 
        	{% else %} <h2>Atualizar Aluno</h2> {% endif %}

<form name='generic_form' action="" enctype="multipart/form-data" method="post"> {% csrf_token %}
{% for hidden in form.hidden_fields %} 	{{ hidden }} {% endfor %}

	{% for field in form.visible_fields %}
		    {{ field.label_tag }}{% if field.is_required %}*{% endif %} <br/>
			{{ field }} <br/>
			{% if field.errors %}{{ field.errors }}{% endif %}
			{{ field.help_text }}<br/>
    {% endfor %}
    <p>
        <input type="submit" value="Salvar" />
    </p>
</form>
            
        
        	<div class="cleaner"></div>

        </div><div class="content_box_bottom"></div>
    	
    </div> <!-- end of content -->
    
    <div class="cleaner"></div>

</div>
{% endblock %}

