{% extends "private/cadastros.html" %}

{% block content-box %}
<h2>Alunos Cadastrados com sucesso</h2>
            
<table width="100%">
<tr>
    <td align="center">
    {% if cadastrados %}
        <table class="table">
        {% for object in cadastrados %}
            {% if forloop.first %} 
                <tr>
                    {% for label, value in object.field_list %}
                        <th>{{label}}</th>
                    {% endfor %}
            	</tr>
            {% endif %}
            <tr>
                {% for label, value in object.field_list %}
                    <td><a href="/aluno/detail/{{object.id}}">{{ value }}</a></td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% else %}
        <td align="center">Nada a ser listado</td>
    {% endif %}
        </table>
    </td>
</tr>
</table>

<h2>Alunos Não Cadastrados</h2>
<table width="100%">
<tr>
    <td align="center">
    {% if erro %}
        <table class="table">
        {% for object in erro %}
            {% if forloop.first %} 
                <tr>
                	 <th>Usuario</th><th>Matricula</th><th>Motivo</th>
            	</tr>
            {% endif %}
            <tr>
                {% for value in object %}
                    <td>{{value}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% else %}
        <td align="center">Nada a ser listado</td>
    {% endif %}
        </table>
    </td>
</tr>
</table>
{% endblock %}